@model IEnumerable<WebAppWithAjaxModals.Models.Person>

<table class="table table-striped" style="display: none;">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th class="noSortColumn noSearchColumn text-right"><span class="sr-only">Actions</span></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
        <tr>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.Email</td>
            <td class="text-right">
                @*@Html.DisplayFor(model => person.ActionsMenu)*@
            </td>
        </tr>
        }
    </tbody>
</table>