body {
    padding-top: 50px;
    padding-bottom: 20px;
}

main {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.dl-vertical dd {
    margin-bottom: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.btn-group-xs .dropdown-menu > li > a,
.btn-group-sm .dropdown-menu > li > a,
.btn-group-xs .dropdown-menu > li > .btn-link,
.btn-group-sm .dropdown-menu > li > .btn-link {
    font-size: 95%;
}

.btn-group .dropdown-menu > li > a > i.fa,
.btn-group .dropdown-menu > li > .btn-link > i.fa {
    margin-right: 5px;
}

.btn-group .dropdown-menu > li > .btn-link {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    width: 100%;
    text-align: left;
    border: none;
}

.btn-group .dropdown-menu > li > .btn-link:hover,
.btn-group.dropdown-menu > li > .btn-link:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.actionsMenu .dropdown-toggle {
    color: #7c7c7c;
    font-size: 16px;
    line-height: 1;
    padding: 1px 5px;
    border-color: transparent;
    border-radius: 3px;
    border-width: 1px;
    background-color: transparent;
    text-decoration: none;
}
.actionsMenu .dropdown-toggle:hover {
    background-color: #b9d0e5;
    color: #242424;
    text-decoration: none;
}
.actionsMenu.open .dropdown-toggle {
    background-color: #b9d0e5;
}


.validation-summary-valid {
    display: none;
}

.loadingNotice {
    font-size: 1em;
    text-align: center;
    color: #666;
}
.loadingNotice i.fa-spin {
    margin-right: 10px;
    font-size: 1.5em;
}